.filter_buttons_container {
  display: inline;
  height: 70px;
}

.filter-button {
  margin: 40px 10px 50px 10px;
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  color: gray;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button:hover {
  background-color: lightgray;
  color: #fff;
  border-color: lightgray;
}

.filter-button.active {
  background-color: lightgray;
  color: #fff;
  border-color: lightgray;
}

/* 670px 이하일 때 스타일 */
@media screen and (max-width: 870px) {
  .filter_buttons_container {
    display: flex;
    flex-wrap: wrap;
    /* 버튼들이 줄바꿈되도록 설정 */
    justify-content: center;
    /* 버튼을 중앙 정렬 */
  }

  .filter-button {
    margin: 10px 4px;
    /* 작은 화면에 맞는 여백 설정 */
    width: auto;
    height: 30px;
    /* 버튼 크기를 유동적으로 설정 */
    text-align: center;
    padding: 5px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    font-size: 12px;

  }

  /* '|' 기호 숨기기 */
  .filter_buttons_container span {
    display: none;
  }
}

.custom-checkbox {
  display: flex;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-left: 20px;
  max-width: 1250px;
  width: 1250px;
  
}

.custom-checkbox input[type="checkbox"] {
  display: none;
  /* 기본 체크박스 숨기기 */
}

.custom-checkbox span {
  margin-left: 8px;
}

.custom-checkbox input[type="checkbox"]+span::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 15px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 8px;
  vertical-align: middle;
}

.custom-checkbox input[type="checkbox"]:checked+span::before {
  background-color: black;
  /* 선택된 상태의 배경색 */
  
  border: 3.5px solid lightgray;
  /* 선택된 상태의 테두리 색 */
  width: 16px;
  height: 16px;
}



.checkbox_span {
  color: gray;
  margin-top: 15px;
}