.chat-check-container {
  padding: 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.chat-check-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* 헤더는 중앙 정렬 */
}

.chat-check-body {
  font-size: 16px;
}

.left-align {
  text-align: left; /* 왼쪽 정렬 */
}

.right-align {
  text-align: right; /* 오른쪽 정렬 */
}
