.container.my {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 40px 40px 160px
}

.snb_area {
    margin-right: 20px;
    width: 180px;
}

.snb_main_title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.15px;
    line-height: 29px;
    padding-bottom: 30px;
}

.a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
    color: inherit
}

.a,
.a:active,
.a:focus,
.a:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* myPage.module.css */



.nav {
    display: block;
}

.body,
.button,
.input,
.select,
.table,
.textarea {
    font-feature-settings: "frac" 0, "numr" 0;
    color: #222;
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
}

.div {
    display: block;
    unicode-bidi: isolate;
}

.snb_title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.27px;
    line-height: 22px;
    margin-bottom: 12px;
    vertical-align: top;
}

.li,
.ol,
.ul {
    list-style: none;
}

.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

.li {
    display: list-item;
    text-align: inherit;
    unicode-bidi: isolate;
}

.menu_link {
    color: rgba(34, 34, 34, .5);
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 18px;
}

.menu_item+.menu_item {
    margin-top: 12px;
}

.container.my .snb_area+div {
    flex: 1;
}

.my-page-content {
    flex: 1;
}

.lg .user_membership,
.md .user_membership {
    flex-direction: row;
    padding: 24px;
}

.user_membership {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.lg .user_detail,
.md .user_detail {
    border-bottom: none;
    padding: 0;
}

.user_detail {
    border-bottom: 8px solid #f0f0f0;
    display: flex;
    flex: 1;
    padding: 16px 24px;
}

.lg .user_thumb,
.md .user_thumb {
    height: 60px;
    width: 60px;
}

.user_thumb {
    border-radius: 50%;
    flex-shrink: 0;
    height: 90px;
    margin-right: 12px;
    position: relative;
    width: 90px;
}

.user_thumb:after {
    border: 1px solid rgba(34, 34, 34, .05);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.user_thumb .thumb_img {
    border-radius: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.img,
.video {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    border: 0;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-select: none;
    vertical-align: top;
}

.img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.lg .user_info,
.md .user_info {
    align-items: center;
    flex-direction: row;
}

.user_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.info_box {
    flex: 1;
}

.user_info .email,
.user_info .name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_info .name {
    color: #000;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.27px;
    line-height: 21px;
}

.user_info .email {
    color: rgba(34, 34, 34, .5);
    font-size: 14px;
    letter-spacing: -.21px;
    letter-spacing: -.05px;
    line-height: 18px;
}

.lg .info-buttons,
.md .info-buttons {
    padding-top: 0;
}

.info-buttons[data-v-85545f4e] {
    padding-top: 12px;
}

.btn {
    align-self: flex-start;
    height: 36px;
    line-height: 34px;
}

.outlinegrey {
    border: 1px solid #d3d3d3;
    color: rgba(34, 34, 34, .8);
}

.small {
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 0 14px;
}

.btn {
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.lg .shortcut-grid,
.md .shortcut-grid {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
    row-gap: 20px;
}

.lg .shortcut-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.shortcut-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.my_home_title {
    display: flex;
    max-width: 100%;
    padding-bottom: 0px;
}

.my_home_title .title {
    font-size: 18px;
    letter-spacing: -.27px;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.purchase_list_tab {
    background-color: #fafafa;
    border-radius: 12px;
    display: flex;
    width: 100%;
}

.tab_item {
    display: flex;
    flex: 1;
    text-align: center;
}

.tab_link {
    display: block;
    flex: 1;
    padding-bottom: 14px;
    padding-top: 14px;
    position: relative;
}

@media (min-width: 961px) {
    .tab_link {
        padding-bottom: 18px;
        padding-top: 18px;
    }
}

.dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (min-width: 961px) {
    .tab_link .title {
        font-size: 13px;
    }
}

.tab_link .title {
    color: rgba(34, 34, 34, .8);
    font-size: 12px;
}

.dt {
    display: block;
    unicode-bidi: isolate;
}

.tab_item.total .count {
    color: #f15746;
}

@media (min-width: 961px) {
    .tab_link .count {
        font-size: 18px;
    }
}

.tab_link .count {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.09px;
    line-height: 20px;
    margin-top: 2px;
}

.tab_item:first-of-type .tab_link:before {
    background-color: #ebebeb;
    bottom: 18px;
    content: "";
    position: absolute;
    right: 0;
    top: 18px;
    width: 1px;
}

.tab_link .hold {
    color: #ff7500;
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 19px;
}

.purchase_list_display_item {
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    display: flex;
    padding: 12px;
}

.purchase_list_product {
    display: flex;
}

.purchase_list_product .list_item_img_wrap {
    position: relative;
}

.purchase_list_product .list_item_img_wrap .list_item_img {
    border-radius: 12px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 80px;
}

.purchase_list_product .list_item_title_wrap {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
    align-items: flex-start;
    row-gap: 13px;
}

.purchase_list_product .list_item_title_wrap .list_item_price {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 18px;
    font-weight: 600;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purchase_list_product .list_item_title_wrap .list_item_title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    line-height: 17px;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.purchase_list_product .list_item_title_wrap .list_item_description {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(34, 34, 34, .5);
    display: -webkit-box;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: -.21px;
    letter-spacing: -.5px;
    line-height: 19px;
    margin-top: -5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_item_status {
    align-items: center;
    display: flex;
    margin-left: auto;
    text-align: right;
}

.list_item_status .column_secondary {
    font-size: 13px;
    letter-spacing: -.07px;
}

.list_item_status .list_item_column {
    margin-left: 10px;
    width: 134px;
}

.list_item_status .column_last {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.list_item_status .list_item_column {
    margin-left: 10px;
    width: 134px;
}

.list_item_status .column_last .last_title {
    font-size: 14px;
    letter-spacing: -.21px;
}

.list_item_status .column_last .last_description.action_named_action {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.list_item_status .column_last .last_description {
    font-size: 12px;
    letter-spacing: -.06px;
    overflow: hidden;
    word-break: keep-all;
}

.purchase_list_tab.inventory .tab_item.total .count,
.purchase_list_tab.sell .tab_item.total .count {
    color: #31b46e;
}

.my_home_title .btn_more {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 5px;
}

.interest_product {
    margin: 0 -10px;
}

.product_item {
    display: inline-block;
    margin: 20px 0;
    padding: 0 12px;
    position: relative;
    vertical-align: top;
    width: 25%;
}

.product_item .item_inner {
    background-color: #fff;
    border-radius: 12px;
    display: block;
}

.product {
    border-radius: 8px;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.detail_stock .product_img,
.is_exclusive .product_img,
.lucky_draw_column .product_img,
.other_stock .product_img,
.product_img,
.stock .product_img {
    height: auto;
    width: 100%;
}

.product_img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.picture {
    border: none;
    display: flex;
}

.image.full_width {
    height: 100%;
    width: 100%;
}

.image {
    image-rendering: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.product_item .btn_wish {
    bottom: 3px;
    display: inline-flex;
    padding: 5px;
    position: absolute;
    right: 3px;
    z-index: 1;
}

.btn_wish {
    display: flex;
    height: inherit;
}


.product_item .info_box {
    padding: 9px 4px 0;
}

.brand-text {
    align-items: center;
    color: #222;
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    height: 17px;
    line-height: 17px;
    margin-bottom: 2px;
}

.brand-text>.brand-name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_item .price {
    padding-top: 12px;
}

.product_item .amount {
    font-size: 0;
    line-height: 0;
}

.product_item .discount_rate,
.product_item .num,
.product_item .won {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.04px;
    line-height: 17px;
    vertical-align: top;
}

.display_paragraph.line_break_by_truncating_tail {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-lookup.bold {
    font-weight: 700;
}

.address,
.em {
    font-style: normal;
}

.product_item .desc {
    color: rgba(34, 34, 34, .5);
    font-size: 11px;
    line-height: 13px;
    margin-top: 2px;
}